* {
  font-family: "Rubik", sans-serif;
/*Remove margins from between the writing and from the page*/
  margin: 0;
  padding: 0;
}

/*create a keyframes animation that makes an element jump up and down*/
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}